.numOfScoreTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.numOfScoreTable form {
    width: 80% !important;
}

td:hover {
    background-color: rgb(219, 98, 98);
    cursor: pointer;
}

td {
    border: 2px solid black !important;
    width: 100px;
    height: 100px;
}

.table_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.table {
    width: 80% !important;
    text-align: center;
}